<div id="page-wrapper">

    <br>
    <div class="container">
        <h1 class="title">About The Bonsai Store</h1>
            <p>
            It all started in 2001, when my wife gave me a bonsai for my birthday. At the time, my green thumb was non-existent
            (some would say it still is), so I had no idea how to care for it. I didn't even know where to put it – outdoors, near a
            window, or in a shaded area? Suddenly I was missing the golf balls and ties I had received in years past.
            
            With a little online research and a single book, I was able to keep this first tree alive. Turns out that with proper
            care, bonsai trees aren't too difficult to keep alive. I'm happy to report that this first tree is still alive and
            flourishing today, thank you very much.
            
            As I became more courageous, I decided it was time to prune my tree. I knew from online research and books that I should
            use official bonsai shears. But when I went online and started searching for bonsai tools, I was shocked by the prices
            people were charging for these specialized garden tools.
            
            With that, the seed was planted (forgive the pun). I had moved to Japan and taken several classes. 
            The initial process wasn't easy, but I was able to locate manufacturers and suppliers who were willing to
            supply me with high-quality products at an affordable price. We were officially off and running. Of course there were
            bumps along the way, but perhaps I'll save that story for another day.
            
            So that's how it started. Part serendipity, part insight, and part luck. But we couldn't have done it without you.
            
            So thank you for your continued support of Bonsai Ecomm and if there's anything I can do to help improve your
            experience, please let me know.
            </p>
    </div>
</div>

<body>
    <section class="section">
        <div class="container">
            <h1 class="title">Why Buy from Us</h1>
            <h2 class="subtitle">
                We have the <strong>Absolute Best Bonsai </strong> plants or trees in the world! Grown with Love!
            </h2>
            <p>
            As the Internet's largest online retailer of bonsai trees and related products, it is our mission at Bonsai Ecomm to
            stand behind our products in every way possible. Your satisfaction is our #1 priority, and we wouldn't be where we are
            today without many satisfied customers.
            
            However, as we deal with living things, there are some limits to what we can and cannot guarantee. We take every
            possible precaution to protect our trees and ensure they arrive safe and healthy, but occasionally Mother Nature will
            have other plans. We ask our customers to please be aware of this, and to review our guarantee policies for both our
            living and non-living products.

            </p>
        </div>
    </section>
</body>
