

<div id="accordion_first">
    <article class="message">
        <div class="message-header">
            <p>How hard is it to grow & maintain a Bonsai tree?</p>
        </div>
        <div id="collapsible-message-accordion-1" class="message-body is-collapsible" data-parent="accordion_first">
            <div class="message-body-content">
                Not at all! Taking care of a Bonsai is easy and rewarding for all levels of enthusiasts. However, it does require a
                regular COMMITMENT to providing adequate natural light and regular watering. Certain species can tolerate a bit more
                "neglect" than others and are appropriate for beginners and gifts where care levels are uncertain.
            </div>
        </div>
    </article>
   
        <article class="message">
            <div class="message-header">
            <p>How do I prevent diseases and insects from infecting my Bonsai?</p>
        </div>
        <div id="collapsible-message-accordion-2" class="message-body is-collapsible" data-parent="accordion_first">
            <div class="message-body-content">
                As living trees, Bonsai are susceptible to insect attacks and disease. Preventive and corrective measures include (a)
                keeping your Bonsai in good health, since insects and bacteria tend to attack weak trees, (b) giving your tree ample
                light, fresh air and ventilation, (c) keeping the soil free of spent blooms and fallen leaves and (d) proper watering
                techniques which does not leave the soil moist, muddy or sloppy.
                
                You may also use an insecticidal soap spray which is not harmful to humans or animals. This soap derivative, however,
                may require more than one application to control the insect population. It's also a good idea to use this spray weekly
                to prevent any attacks.
            </div>
        </div>
    </article>
   
        <article class="message">
            <div class="message-header">
            <p>How do I trim and prune my Bonsai?</p>
            </div>
            <div id="collapsible-message-accordion-3" class="message-body is-collapsible" data-parent="accordion_first">
                <div class="message-body-content">
                The main objective of trimming and pruning is to shape the Bonsai into the desired form and to reduce growth above
                ground in order to maintain a balance with root growth. The process of shaping begins when the tree is very young and is
                on-going as it matures. Trimming is accomplished by using a sharp shears. This traditional tool is called butterfly or
                Bonsai shears and is used for removing foliage and light branches. When heavier branches are removed, we call it pruning
                and the tool to use is the concave branch cutter, for which there is no substitute. The concave cutter allows you to
                remove small, medium and even large branches without leaving any visible scars.
            </div>
        </div>
    </article>

    <article class="message">
        <div class="message-header">
            <p>How is miniaturizing a tree possible?</p>
        </div>
        <div id="collapsible-message-accordion-4" class="message-body is-collapsible" data-parent="accordion_first">
            <div class="message-body-content">
                Several techniques are used to keep a Bonsai tree small. The tree is grown in a container, the trimming, pruning,
                repotting and other care given the tree -- all contribute to the final result of limited growth. Dwarf trees are often
                found in a natural environment, but in Bonsai this environment is provided artificially. Bonsai are grown in shallow
                containers the size of which determines the amount of soil the roots are able to grow in. This environment definitely
                restricts the growth of the roots and its functions.
            </div>
        </div>
    </article>
   
        <article class="message">
            <div class="message-header">
            <p>How do I provide essential humidity to my Bonsai tree?</p>
        </div>
        <div id="collapsible-message-accordion-5" class="message-body is-collapsible" data-parent="accordion_first">
            <div class="message-body-content">
                All trees naturally grow in more humid conditions than our homes, offices and dormitories. So what can we do to provide
                this necessary humidity? Misting the tree is only beneficial for a short time so what we recommend is to place the tree
                on a humidity tray and add water to the tray. As the water in the tray evaporates it creates a humid environment around
                the tree continuously. When the water in the tray is gone, add more water. It's a good idea to separate the pot from the
                water in the tray by adding some pebbles to the bottom of the tray as this will prevent any roots from sitting in the
                water. Misting is generally not necessary unless growing in extremely dry & arid conditions.
                
                How much natural sunlight is required for my Bonsai tree when kept Indoors?
                Sunlight, especially the ultra-violet ray, greatly affects the growth of trees. Bonsai should be placed in a location
                with as much direct sun as possible although indirect sun will also work well - the tree should not be placed more than
                ONE FOOT away from the glass as the sun's energy drops off dramatically direct light source. A South, East or West
                exposure works best.
                
                A northern exposure or no natural light environment will require the use of Grow Lights which should remain on up to 16
                hours each day and the lamp should not be more than 2 inches from the top of the tree. A typical incandescent light is
                too hot and will not provide the various spectrum of light that is required to maintain your Bonsai tree.
                
                If you do not have a window that provides an South, East or West exposure, consider a live Money Tree Bonsai or a
                preserved, artificial or wire Bonsai tree.
            </div>
        </div>
    </article>
    
        <article class="message">
            <div class="message-header">
            <p>How often should I fertilize my Bonsai tree?</p>
        </div>
        <div id="collapsible-message-accordion-6" class="message-body is-collapsible" data-parent="accordion_first">
            <div class="message-body-content">
                Because Bonsai trees are cultivated in limited amounts of soil, adequate feed is very important. As a general rule, a
                small amount of feed is given in the spring and a larger amount in the fall. Feed for Bonsai should contain three
                principle ingredients; nitrogen, phosphoric acid, and potash. It is also a good idea to use a fertilizer containing
                "chelated" iron. If purchasing commercially, water before fertilizing your tree and then apply at ONE-HALF the strength
                recommended by the brand's manufacturer. We also add Superthrive which is a vitamin supplement to our fertilizer mix.
                You may find it simpler and easier to use our slow release fertilizer granules (placed over the soil) whose nutrients
                are released continuously with each watering.
            </div>
        </div>
    </article>

    <article class="message">
        <div class="message-header">
            <p>How often should I water my Bonsai tree?</p>
        </div>
        <div id="collapsible-message-accordion-7" class="message-body is-collapsible" data-parent="accordion_first">
            <div class="message-body-content">
                Unlike a house plant, Bonsai trees use a "free draining" type of soil because their roots cannot tolerate "wet feet". In
                addition, they are grown in significantly less soil and, therefore require more frequent watering. Factors such as tree
                location, temperature, lighting conditions, quantity of soil used and the changing seasons will determine the frequency
                of watering. You can get to know when your tree needs to be watered by observing the foliage, testing the soil with your
                index finger just below the surface or just by the weight of the pot. (The drier the tree, the lighter it will feel.) To
                take the guesswork out of watering, we recommend an inexpensive moisture meter which works much like a thermometer,
                insert it into the soil and the needle will tell you if it is time to water.

                In general, most trees kept Indoors will need watering ONCE every 2 to 3 days and trees kept Outdoors will need watering
                ONCE every 2 days or daily depending on the weather (temperature and wind).
            </div>
        </div>
    </article>
   
        <article class="message">
            <div class="message-header">
            <p>How do I train my Bonsai if I choose to?</p>
        </div>
        <div id="collapsible-message-accordion-8" class="message-body is-collapsible" data-parent="accordion_first">
            <div class="message-body-content">
                The Bonsai trees we sell are fully trained however an advanced enthusiast may wish to continue to train and advance it
                further or create their own using pre-Bonsai trees. Wiring, a relatively modern method of training Bonsai trunks and
                branches into the desired forms, has become commonly accepted. It is often used in place of, or in conjunction with the
                traditional methods of long-term pruning and hemp-rope binding. Copper or Aluminum wire that has first been annealed in
                a low-temperature fire is preferred. After it has cooled, it is wrapped around the branches in the direction the branch
                is to be bent. The branch should be bent once into its final position so as not to harm the cambium layer under the
                bark. The wire should be wrapped taut, but not too tight, and should be removed just before it bites into the branch --
                between 6 and 12 months. The wire is removed with a Bonsai wire cutter by snipping the wire at each turn, thereby
                allowing the cut pieces to fall to the ground. Never unwind the wire or use pliers to cut the wire, since this will
                damage the branches.
            </div>
        </div>
    </article>

    <article class="message">
        <div class="message-header">
            <p>What is Bonsai Soil and why is it used for Bonsai?</p>
            </div>
            <div id="collapsible-message-accordion-9" class="message-body is-collapsible" data-parent="accordion_first">
                <div class="message-body-content">
                Bonsai trees do not do well in soil that is always wet due to their complex root structure, this promotes root rot.
                Typical commercially available potting and topsoils are heavy soils that can remain wet for weeks, which is fine for
                house plants but not trees. Bonsai soil is a mixture of ingredients which allows the water to drain freely and at the
                same time, retain moisture. In addition, the ingredients allow the roots to breathe air and prevent compaction. There
                are two basic types of Bonsai soil -- a conifer mix for deciduous & evergreen trees and a tropical/sub-tropical mix for
                tropical trees that do not freeze. Before adding any soil mixture, be sure to cover the drainage hole(s) with screening
                to prevent the soil from washing out of the pot. When re-potting, it is always best to use the soil mixture in its dry
                state.
            </div>
        </div>
    </article>

    <article class="message">
        <div class="message-header">
            <p>How often should I re-pot my Bonsai tree?</p>
            </div>
            <div id="collapsible-message-accordion-10" class="message-body is-collapsible" data-parent="accordion_first">
                <div class="message-body-content">
                All potted vegetation will eventually outgrow their containers. While houseplants need to be "up-potted", placed in
                larger and larger containers, we maintain the miniaturization of a Bonsai tree by keeping the roots confined to the
                small container. On average, repotting will be necessary every 2 years, but the tree should be removed from its
                container and its root system inspected once a year. If the roots are close to forming a circular ball around the
                perimeter of the pot, it is time to trim the roots and repot. When repotting remember to (a) re-pot only during the
                appropriate repotting season (b) use only fresh Bonsai soil appropriate for your tree (c) remove air pockets by working
                the soil down through the roots (d) do not remove more that 20% of the root system -or- consider using a new, larger pot
                if you prefer the tree to grow moderately thicker and larger than its current condition (e) water well.
            </div>
        </div>
    </article>
   
        <article class="message">
            <div class="message-header">
            <p>How do we measure our trees?</p>
            </div>
            <div id="collapsible-message-accordion-11" class="message-body is-collapsible" data-parent="accordion_first">
                <div class="message-body-content">
                We provide an approximate range of tree height measurement by calculating from the bottom of the pot including the root
                system to the top of the tree's foliage. As our trees are continually trimmed & trained to encourage new growth and
                styling, height can vary from season to season. As daylight is shorter and the sun's rays are weaker in the Winter,
                certain species of trees may appear less full, sparse and shorter in the colder months, much like the trees outside in
                nature. This is a temporary situation, is perfectly normal and does not lessen the beauty and value of your tree. Most
                species grow rapidly in the Spring and Summer months.
            </div>
        </div>
    </article>
</div>
