<% if flash.now[:notice] %>
<div class="notification is-success global-notification">
    <p class="notice"><%= notice %></p><%= link_to "Remove", "" %>
</div>
<% end %>
<% if flash[:alert] %>
<div class="notification is-danger global-notification">
    <p class="alert"><%= alert %></p><%= link_to "Remove", "" %>
</div>
<% end %>