/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bulma";
 @import "functions";


.notification {
  border-radius: 0;
}

.notification:not(:last-child) {
  margin-bottom: 0;
}

.simple_form div.input {
  margin-bottom: 20px;
  clear: both; /* Required for Webkit, but not for Gecko */
}

.simple_form label {
  float: left;
  width: 100px;
  text-align: right;
  margin: 2px 10px;
}

.field-form {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width: 50%;
  height: 15em;
}

.review-space {
    border-style: solid;
    border-color: aliceblue;
    border-spacing: 20px 10px;
    border-width: thin;
    text-indent: 20px;
    margin: 10px;
    padding: 10px;
    // box-sizing: content-box;
    // background-color: blue;
  }
  .add-review {
    text-indent: 20px;
    margin-bottom: 10px;
    padding-bottom: 20px;
  }
.review-block {
  background-color: aliceblue;
  color: black;
  padding: 25px;
}
.edit-review-form {
  // text-indent: 20px;
  margin-bottom: 10px;
  padding-bottom: 20px;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width: 50%;
  height: 15em;
}
.control-images {
  margin-top: 20px;
}
.hero-class {
  padding-bottom: 25px;

}
#accordion_first {
  width: 75%;
  margin: auto;
}


// The bonsai show template

.bonsai-index-grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(240px, 1fr));
  grid-gap: 1em;

  .bonsai {
    border-left: 0;
    border-top: 0;
    position: relative;
    min-height: 350px;

    .title {
      line-height: 1.8rem;
    }
    .price {
      position: absolute;
      bottom: 10px;
      right: 10px;
    }

  }

  .bonsai-thumb {
    position: center;
    max-height: 200px;
    overflow: hidden;

    img {
      max-width: 40%;
      width: 40%;
      &:hover {
        opacity: .9;
      }
    }
  
  //   .condition {
  //     position: absolute;
  //     bottom: 10px;
  //     right: 9px;
  //   }
  }
  


}
